{% extends 'base.html' %}

{% block content %}
  <div class="my-5">
    <h1 class="display-3">MessageDrift</h1>

<div class="my-5">
  <div class="border-bottom my-5">
    <h1>Communities</h1>
  </div>
  {% for community in communitites %}
    <a href="{% url 'view_community' community.name %}" style="color: inherit">
      <div class ="card mt-5 mb-5 p-3">
        <h2>{{ community.name }}</h2>
        <p>{{ community.description }}</p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock content %}
