{% extends 'base.html' %}

{% block content %}
  <div class="container mb-5 mt-5 border-bottom">
    <h1 class="display-3">What is Message Drift?</h1>
    <h3 class="mb-5 mt-5">MessageDrift is a website that allows people to post and display drifting messages that anyone can find randomly.
      You can randomly search for a message or enter its ID in order to find it. :)
    </h3>
  </div>
  <div class="container mb-5 mt-5">
    <h1 class="text-center">Random posts</h1>
    <div class="card mb-5 mt-5 p-5 text-center">
      <h3>{{ random_post.content }}</h3>
      <div class="text-muted">{{ random_post.date_created }}</div>
    </div>
  </div>
  <div class="row border-bottom">
    <div class="col-sm text-left">
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'create_post' %}">Create a post</a>
        <a class="btn btn-primary btn-lg btn-block" href="{% url 'view_post' random_post_id %}">Search for a post</a>
    </div>
</div>
<div class="container mb-5 mt-5">
  <div class="border-bottom mb-5">
    <h1>About</h1>
  </div>
  <div class="jumbotron">
    <h2>
      Want to contribute to the website?
      Visit <a href="https://github.com/ericxim/MessageDrift">https://github.com/ericxim/MessageDrift</a>
    </h2>
  </div>
</div>
{% endblock content %}
