{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'index' %}">Back</a>
    <div>
        <h2 class="mt-5">Search through posts</h2>
        <form class="mb-5 mt-5" action="{% url 'view_post' %}" method="GET" name="search_form" onsubmit="return form_validation()">
            <input type="text" name="search" ID="search_input" placeholder="Enter message ID...">
            <button class="btn btn-sm" type="submit" id="search_button">Search</button>
            <div id="error_msg_div" class="text-danger">
                
            </div>
        </form>
        
        {% if post %}
        <div class="card mb-5 mt-5 p-5 text-center">
            <h2>{{ post.title }}</h2>
            <h3>{{ post.content }}</h3>
            <div class="text-muted">Date: {{ post.date_created }}</div>
        </div>
        <div class="mb-5 mt-5">
            <h2>Post Information</h2>
            <h4>Message ID: {{ post.pk }}</h4>
            <h4>Views: {{ post.views }}</h4>
            {% if post.community_id %}
            <h4>Community: {{ post.community_id }}</h4>
            {% endif %}
        </div>
        {% else %}
        <div class="card mb-5 mt-5 p-5 text-center">
            <h3>Post does not exist</h3>
        </div>
        {% endif %}
    </div>
    <a href="{% url 'view_post' %}">Search for another post</a>
{% endblock content %}

