{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'message/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{ Title|default:"MessageDrift"}}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">MessageDrift</a>
        <ul class="navbar-nav">
          <a href=""><li class="nav-item">Login</li></a>
          <a href="{% url 'register' %}"><li class="nav-item mx-3">Create an account</li></a>
        </ul>
      </div>
    </nav>
    {% block header %}
    {% endblock header %}
    <div class="container">
      <div class="vertical-center py-5">
          {% block content %}
          {% endblock content %}
          </div>
        </div>
      </div>
  </body>
</html>
<script type="text/javascript">
  function form_validation() {
      var form = document.getElementById("search_input").value;
      if (form == "" || isNaN(form)){
          document.getElementById("error_msg_div").innerHTML = "Please enter a valid ID";
          return false;
      };
      return true
  }
</script>  
